DATABASE_URL=sqlite:///./stresssense.db
# DATABASE_URL=postgresql://user:password@localhost/stresssense
FIREBASE_PROJECT_ID=mock-project
# FIREBASE_CLIENT_EMAIL=...
# FIREBASE_PRIVATE_KEY=...
SECRET_KEY=supersecretkey
CORS_ORIGINS=*
